/*
 * styles/App.css
 * Dossier
 * Global Styling
*/

/* Typography */
@import url('https://fonts.googleapis.com/css?family=Alegreya:400,700|Poiret+One');

body {
    font-family: 'Alegreya', serif;

}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

*.fancy {
    font-family: 'Poiret One', cursive;
}

h1 {
    font-size: 4.2em;
}
