/*
 * styles/App.css
 * Dossier
 * Global Styling
*/

/* Typography */
@import url('https://fonts.googleapis.com/css?family=Alegreya:400,700|Lato:400,700|Poiret+One');

body {
    font-family: 'Alegreya', serif;
    font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

/* TODO: change the fancy font to abri fatface */
*.fancy {
    font-family: 'Poiret One', cursive;
}

h1 {
    font-size: 7.2rem;
}

h2 {
    font-size: 5.2rem;
}

h3 {
    font-size: 2.8em;
}

h4 {
    font-size: 2.2em;
}

@media screen and (max-width: 800px) {
    body {
        font-size: 1.2rem;
    }

    h1 {
        font-size: 3.2rem;
    }
}
