/*
 * styles/ArticlePage.css
 * Article Page styling
*/

#article.page {
    position: relative;
    min-height: 100vh;
    text-align: center;

    background-color: #FDFDFD;
}

/* Loading screen */
#article.page .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    color: #CDD4DD;
}


/* Article Sidebar */
#article.page .sidebar {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #FDFDFD;
    text-align: left;

    padding: 1.8vmax;

    width: 20vw;
    min-height: 100vh;
    max-height: 100vh;
    overflow: scroll;
}

#article.page .sidebar h4 {
    color: #818181;
    overflow: hidden;
    text-overflow: ellipsis;

    font-size: 2em;
    letter-spacing: -0.02em;
}

/* Article Content */
#article.page .content-wrapper {
    display: inline-block;
    width: 52vw;
    text-align: center;
    background-color: #FFFFFF;

    box-shadow: 0px 0px 8px -4px rgba(0,0,0,0.36);
}

#article.page .content {
    position: relative;
    display: inline-block;
    width: 42vw;
    padding-bottom: 2.4em;

    color: #000000;
    text-align: left;
    overflow: hidden;
    font-size: 1.5rem;
}

/* Article Content Headers */
#article.page .content h1 {
    font-size: 2.8em;
    margin-top: 1.4em;
    margin-bottom: 0.6em;
}

#article.page .content h2 {
    font-size: 2.0em;
    margin-top: 1.2em;
    margin-bottom: 0.3em;
}

#article.page .content h3 {
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: -0.3em;
}

#article.page .content h4 {
    font-size: 1.2em;
    margin-top: 0.8em;
    margin-bottom: -0.6em;
}

#article.page .content h5 {
    font-size: 1em;
}

#article.page .content img {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);

    object-fit: contain;
    max-width: 96%;
    margin-top: 2.4em;
    margin-bottom: 2.4em;
}

/* Article Code blocks */
#article.page .content pre {
    overflow: scroll;
}

#article.page .content code {
    font-size: 0.86em;
}

#article.page .content pre code {
    padding: 0.8em;
    font-size: 0.8em;
    border-radius: 6pt;
    box-shadow: inset 0px 0px 52px -33px #F2D2A6;
}


/* Article Blockquotes */
#article.page .content blockquote {
    margin-left: 0;
    padding: 0.2em;
    padding-left: 1.4em;

    border-left-style: solid;
    border-left-width: 0.36em;
    border-left-color: #68C7C0;
}

#article.page .content a {
    color: #31837C;
}

/* Article Tables */
#article.page .content table {
    font-family: "Lato", sans-serif;
    justify-content: center;
    border-spacing: 0;
    border-collapse: collapse;
}

#article.page .content table thead th {
    padding-top: 0.8em;
    padding-bottom: 0.6em;
    padding-left: 0.8em;
    padding-right: 0.8em;

    background-color: #92d2c9;
    color: #FFFFFF;
    font-size: 1.12em;
}

#article.page .content table tbody td {
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-left: 0.8em;
    padding-right: 0.8em;
}

#article.page .content table tbody tr:nth-child(even) {
    background-color: #F1F8F7;
}


/* Latex Styling */
@import url('https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.5.1/katex.min.css');

/* Responsive styling */
@media only screen and (max-width: 1200px) {
    #article.page .sidebar {
        width: 28vw;
    }

    #article.page .content-wrapper {
        float: right;
        width: 72vw;
    }
    
    #article.page .content {
        width: 56vw;
    }
}

@media only screen and (max-width: 800px) {
    #article.page .sidebar {
        display:none;
    }

    #article.page .content-wrapper {
        width: 100vw;
    }

    #article.page .content {
        width: 80vw;
    }
}
