/*
 * pages/ArticlesPage.css
 * Articles Page Styling
*/

#articles.page {
    background-color: #D1DBCD;
    min-height: 100vh;
    padding-top: 0.6em;
}

#articles.page h1 {
    color: #7B1010;
    margin-top: 0em;
    margin-bottom: 0.4em;
    margin-left: 8vw;
}
