/*
 * pages/BlogPage.js
 * Blog Page Styling
*/

#blog.page {
    background-color: #D1DBCD;
    min-height: 100vh;
    padding-top: 0.6em;
}

#blog.page h1 {
    color: #7B1010;
    margin-top: 0.2em;
    margin-left: 8vw;
    font-size: 8.2rem;
}

