/*
 * components/BlogListing.js
 * Blog Listing Components Styling
*/

/* Loading Display */
.blog-list .container {
    position: relative;
}

.blog-list .loading {
    position: relative;
    top: 42%;
    
    color: #8D9589;
    font-size: 3.6rem;
}

/* Blog Listing */
.blog-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

/* Blog Entries */
.blog-entry {
    text-decoration: none;

    position: relative;
    width: 28em;
    height: 18em;
}


.blog-entry .background {
    position: absolute;
    height: 100%;
    width: 100%;
    
    z-index: 1;
}

.blog-entry .content  {
    position: relative;
    height: 80%;
    width: 80%;
    left: 2em;
    top: 1.6em;
    overflow: hidden;
}

.blog-entry .content > * {
    position: relative;
    z-index: 2;
}

.blog-entry .title {
    margin: 0;
    padding-bottom: 0.4em;
    text-overflow: clip;
    color: #000000;
    line-height: 1.2em;

    text-overflow: ellipsis;
}

.blog-entry .timestamp {
    display: block;
    color: #888888;
}

.blog-entry .subtitle {
    display: block;
    color: #434343;
    overflow: hidden;
    text-overflow: ellipsis;
}

