/*
 * styles/WorkPage.css
 * Work Page Styling
*/

#work.page {
    background-color: #000000;
}

#work.page .showcase .caption h1 {
    margin-bottom: 0.6em;
    color: #E58282;
}

#work.page .showcase .caption .description {
    line-height: 1.8em;
    font-family: "Lato";
    font-size: 1.2em;
    color: #8B7575;
}
